
.custumers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.customers__item {
    width: calc((100% - 30px) / 2);
    @media screen and (min-width:768px) {max-width: 768px;
                width: calc((100% - 60px) / 3);
    }
    @media screen and (min-width:1200px) {max-width: 1200px;
                width: calc((100% - 150px) / 6);
    }
}

.custumers__title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
    @media screen and (min-width:1200px) {max-width: 1200px;
        margin-bottom: 50px;
        font-size: 36px;
    }
}

.customers__link {
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border: 1px solid $accent-color;
    }
}

.customers__icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover .customers__icon,
.customers__link:focus .customers__icon {
    fill: $accent-color;
}